<a href="https://colab.research.google.com/github/tayabba-19/Final-Project/blob/main/Copy_of_placement.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Placement Eligibilty Streamlit Application Project**
## Python , Pandas, SQL
by Tayabba Zabeen

# Step 1: Read the Excel file using pandas

In [ ]:
# !pip install openpyxl

In [ ]:
import pandas as pd

# Read the Excel file
file_path = "placement_eligibility_data.xlsx"
df = pd.read_excel(file_path)

# Display first few rows
df.head()

# Step 2: Check for null values

In [ ]:
# Check for missing values
print(df.isnull().sum())

student table
programming table
soft skills table
placement table

# Step 3: Faker Liabrary

In [ ]:
From faker import Faker
fake = Faker ()
print("student_id",fake.random_int(101))
print("name:", fake.riya())
print("age:", fake.random_int(18,25)
print ("contact", fake.phone_number(9985764892)
print("email_id",fake.email(riya@gmail.com))
print("course_batch",fake.course_batch(weekdays))
print("enrollment_year",fake.enrollment_year(2025))
print("city",fake.city(agra))
print("graduation_year",fake.graduation_year(2024))
print("language",fake.language(python,sql))
print("problem_solved",fake.problem_solved(20))
print("assessment_completed",fake.assessment_completed(12))
print("mini_project",fake.mini_project(6))
print("certificate_earned",fake.certificate_earned(4))
print("latest project_score",fake.latest project_score(9))
print("communication",fake.communication(85))
print("teamwork",fake.teamwork(90))
print("presentation",fake.presentation(80))
print("leadership",fake.leadership(75))
print("critical_thinking",fake.critical_thinking(85))
print("interpersonal_skills",fake.interpersonal_skills(90))
print("mock interview_score",fake.mock interview_score(75))
print("intership_completed",fake.internship_completed(2))
print("placement_status",fake.placement_status(placed))
print("company_name",fake.company_name(wipro))
print("interview round_cleared",fake.interview round_cleared(2))
print("placement_date",fake.placement_date(2 july 2025))

# Step 4: SQL Connection

Creating SQL Connection Using Different Methods

## 1. Using SQLite3 (Local Database)

In [ ]:
import sqlite3

conn_sqlite = sqlite3.connect("placement_eligibility.sqlite")  # Creates a local database file
cursor = conn_sqlite.cursor()
print("SQLite connection established!")

SQLite connection established!

## 2. Using MySQL Connector

In [ ]:
import mysql.connector

conn_mysql = mysql.connector.connect(
    host="localhost",
    user="root",
    password="12345"
)
cursor_mysql = conn_mysql.cursor()
print("MySQL connection established!")

MySQL connection established!

## 3. Using PyMySQL (Alternative for MySQL)

In [ ]:
import pymysql

conn_pymysql = pymysql.connect(
    host="localhost",
    user="root",
    password="12345",
    database="placement eligibilty_db"
)
cursor_pymysql = conn_pymysql.cursor()
print("PyMySQL connection established!")

## 4. Using SQLAlchemy (General-Purpose ORM for Databases)

In [ ]:
from sqlalchemy import create_engine

engine = create_engine("sqlite:///placement eligibility_database.sqlite")  # For SQLite
conn_alchemy = engine.connect()
print("SQLAlchemy connection established!")

## 5. Connecting to PostgreSQL

In [ ]:
import psycopg2

conn_postgres = psycopg2.connect(
    host="localhost",
    database="placement eligibility_db",
    user="postgres",
    password="yourpassword"
)
cursor_postgres = conn_postgres.cursor()
print("PostgreSQL connection established!")

## 6. Connecting to TiDB (Distributed SQL Database)

In [ ]:
conn_tidb = pymysql.connect(
    host="your_tidb_host",
    user="root",
    password="yourpassword",
    database="placement eligibility_db"
)
cursor_tidb = conn_tidb.cursor()
print("TiDB connection established!")

# Step 5: Creating the Database
Once we've established an SQL connection, we need to create a database to store our placement eligibility.

## 1. Create a Database in SQLite

In [ ]:
import sqlite3

# This will create the database file if it doesn't exist
conn = sqlite3.connect('placement eligibility_db.db')
cursor = conn.cursor()

print("placement eligibility_db created successfully!")

## 2. Create a Database in MySQL

In [ ]:
cursor_mysql.execute("CREATE DATABASE IF NOT EXISTS placement eligibility_db;")
print("MySQL database 'placement eligibility_db' created successfully!")

## 3. Create a Database in PostgreSQL

In [ ]:
cursor_postgres.execute("CREATE placement eligibility_db;")
print("PostgreSQL database 'placement eligibility_db' created successfully!")

# Step 6: Creating a Table in the Database
Now that we have a database, we need to create a table to store the placement eligibility

## 1. Create a Table in SQLite

In [ ]:
cursor.execute("""
    CREATE TABLE IF NOT EXISTS placement_eligibility (
        Name TEXT,
        Age INTEGAR,
        Contact INTEGAR
        Email_id TEXT
        Course_batch TEXT
        Enrollment_year INTEGAR
        City TEXT
        Graduation_year INTEGAR
        print("Table 'student_table' created successfully in SQLite!")

# Step 7: Inserting Data into the Table Using Different Methods
Now, we'll insert data from the Pandas DataFrame into the SQL table using different methods.

## 1. Using to_sql() (Pandas + SQLAlchemy)

In [ ]:
df.to_sql("placemant_eligibilty", engine, if_exists="append", index=False)
print("Data inserted using to_sql()")

## 2. Inserting Data Using to_tuple()

In [ ]:
data_tuple = [tuple(row) for row in df.itertuples(index=False, name=None)]
cursor_mysql.executemany(query, data_tuple)
conn_mysql.commit()
print("Data inserted using to_tuple()")

# Step 8: Running SQL Queries
Now, we will execute five SQL queries to analyze the placement eligibility data

## 1. Query to Get the Average Student

In [ ]:
from tabulate import tabulate

query1 = "SELECT student, AVG(student) AS Avg_score FROM placement_eligibility;"
cursor_mysql.execute(query1)
result1 = cursor_mysql.fetchall()

# Define table headers
headers = ["STUDENT", "Avg SCORE "]

# Print the result as a table
print(tabulate(result1, headers=headers, tablefmt="grid"))

## 2. Query to Find the placed student

In [ ]:
query2 = """
    SELECT Date, name, placement_status
    FROM placement_eligibility
    WHERE placement_status ='placed'
    ORDER BY Date DESC
    LIMIT 10;


cursor_mysql.execute(query2)
result2 = cursor_mysql.fetchall()
print("placement_status:", result2)

## 3. Query to Get the Assessment Completed

In [ ]:
query3 = "SELECT Date, total assessment FROM placeement eligibility_data ORDER BY number of assessment DESC LIMIT 10;"
cursor_mysql.execute(query3)
result3 = cursor_mysql.fetchall()
print("Total number of completed assessment by the student:", result3)

## 4. Query to Find interview rounds cleared

In [ ]:
query4 = "SELECT Interview rounds cleared;"
cursor_mysql.execute(query4)
result4 = cursor_mysql.fetchall()
print("Number of rounds cleared:", result4)

In [ ]:
Streamlit Application

In [ ]:
%%writefile app.py
import streamlit as st
import sqlite3
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

# Function to connect to SQLite database
def get_data(query, params=None):
    conn = sqlite3.connect("placement_eligibility.sqlite")
    if params:
        df = pd.read_sql_query(query, conn, params=params)
    else:
        df = pd.read_sql_query(query, conn)
    conn.close()
    return df

# Streamlit App Title
st.set_page_config(page_title="placement eligibility", layout="wide")

# Sidebar for navigation
st.sidebar.title("Navigation")
page = st.sidebar.radio("Go to", ["Project Introduction", "placement eligibility", "SQL Queries", "Creator Info"])

# -------------------------------- PAGE 1: Introduction --------------------------------
if page == "Project Introduction":
    st.title("üå¶Ô∏è placement eligibility")
    st.subheader("üìä A Streamlit App for Exploring student data")
    st.write("""
    This project analyzes placement eligibility data from different parameters using an SQLite database.
    It provides visualizations for communication, leadership, and other soft skills parameters.

    **Features:**
    - View and filter placement eligibility by student table, programming table, soft skills table and placement table.
    - Generate dynamic visualizations.
    - Run predefined SQL queries to explore insights.

    **Database Used:** `placement_eligibility database.sqlite`
    """)

# -------------------------------- PAGE 2: Placement Eligibility --------------------------------
elif page == "placement eligibility":
    st.title("üìä placement eligibility")


    # Fetch From Table
    student table = get_data("SELECT STUDENT FROM placement eligibility_data")["Faker"].tolist()

    # Filters
    selected_student= st.selectstudent("Select skills", scores)
    date_option = st.radio("Filter By:", ["placed student", "ready","not ready"])

    if date_option == "student table":
        selected_date = st.date_input("Choose a parameters")
        query = "SELECT * FROM skills_data WHERE placement= ? AND Date = ?"
        df = get_data(query, params=(selected_skills, selected_placement.strftime("%Y-%m-%d")))
    else:
        selected_skills = st.selectbox("Select parameters", range(1, 13))
        query = "SELECT * FROM placement eligibility_data WHERE skills = ? AND strftime('%m', date) = ?"
        df = get_data(query, params=(selected_skills, f"{selected_skills:02d}"))

    if not df.empty:
        st.write("### placement eligibility", df)

        # Visualization
        st.write("### Faker Liabrary")
        plt.figure(figsize=(10, 5))
        sns.lineplot(data=df, x="student", y="programming", marker="soft skills", label="placements")
        plt.xticks(rotation=45)
        st.pyplot(plt)
    else:
        st.warning("No data available for the selected filters.")

# -------------------------------- PAGE 3: SQL Queries --------------------------------
elif page == "SQL Queries":
    st.title("üìã SQL Query Results")

    queries = {
        "1. Query to get the average student": "SELECT student,AVG (student) AS Avg_SCORE FROM placement eligibility_data;",
        "2. Query to find the placed student":"SELECT Date,name,placement_status FROM placement Eligibility_data WHERE placeement_status='placed'ORDER BY Date DESC LIMIT 10;",
        "3. Query to get the assessment completed":"SELECT Date,total assessment FROM placement eligibility_data ORDER BY number of assessment DESC LIMIT 10,"
        "4. Query to find interview rounds cleared",

    }

    selected_query = st.selectbox("Choose a Query", list(queries.keys()))
    query_result = get_data(queries[selected_query])

    st.write("### Query Result:")
    st.dataframe(query_result)

# -------------------------------- PAGE 4: Creator Info --------------------------------
elif page == "Creator Info":
    st.title("üë©‚Äçüíª Creator of this Project")
    st.write("""
    **Developed by:** Tayabba Zabeen
    **Skills:** Python, SQL, Data Analysis,Streamlit, Pandas
    """)
    st.image("https://via.placeholder.com/150", caption="Your Profile Picture", width=150)

In [ ]:
!pip install streamlit

Collecting streamlit
  Downloading streamlit-1.43.2-py2.py3-none-any.whl.metadata (8.9 kB)
Requirement already satisfied: altair<6,>=4.0 in /usr/local/lib/python3.11/dist-packages (from streamlit) (5.5.0)
Requirement already satisfied: blinker<2,>=1.0.0 in /usr/local/lib/python3.11/dist-packages (from streamlit) (1.9.0)
Requirement already satisfied: cachetools<6,>=4.0 in /usr/local/lib/python3.11/dist-packages (from streamlit) (5.5.2)
Requirement already satisfied: click<9,>=7.0 in /usr/local/lib/python3.11/dist-packages (from streamlit) (8.1.8)
Requirement already satisfied: numpy<3,>=1.23 in /usr/local/lib/python3.11/dist-packages (from streamlit) (2.0.2)
Requirement already satisfied: packaging<25,>=20 in /usr/local/lib/python3.11/dist-packages (from streamlit) (24.2)
Requirement already satisfied: pandas<3,>=1.4.0 in /usr/local/lib/python3.11/dist-packages (from streamlit) (2.2.2)
Requirement already satisfied: pillow<12,>=7.1.0 in /usr/local/lib/python3.11/dist-packages (from streamlit) (11.1.0)
Requirement already satisfied: protobuf<6,>=3.20 in /usr/local/lib/python3.11/dist-packages (from streamlit) (5.29.3)
Requirement already satisfied: pyarrow>=7.0 in /usr/local/lib/python3.11/dist-packages (from streamlit) (18.1.0)
Requirement already satisfied: requests<3,>=2.27 in /usr/local/lib/python3.11/dist-packages (from streamlit) (2.32.3)
Requirement already satisfied: tenacity<10,>=8.1.0 in /usr/local/lib/python3.11/dist-packages (from streamlit) (9.0.0)
Requirement already satisfied: toml<2,>=0.10.1 in /usr/local/lib/python3.11/dist-packages (from streamlit) (0.10.2)
Requirement already satisfied: typing-extensions<5,>=4.4.0 in /usr/local/lib/python3.11/dist-packages (from streamlit) (4.12.2)
Collecting watchdog<7,>=2.1.5 (from streamlit)
  Downloading watchdog-6.0.0-py3-none-manylinux2014_x86_64.whl.metadata (44 kB)
     ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ 44.3/44.3 kB 2.4 MB/s eta 0:00:00
Requirement already satisfied: gitpython!=3.1.19,<4,>=3.0.7 in /usr/local/lib/python3.11/dist-packages (from streamlit) (3.1.44)
Collecting pydeck<1,>=0.8.0b4 (from streamlit)
  Downloading pydeck-0.9.1-py2.py3-none-any.whl.metadata (4.1 kB)
Requirement already satisfied: tornado<7,>=6.0.3 in /usr/local/lib/python3.11/dist-packages (from streamlit) (6.4.2)
Requirement already satisfied: jinja2 in /usr/local/lib/python3.11/dist-packages (from altair<6,>=4.0->streamlit) (3.1.6)
Requirement already satisfied: jsonschema>=3.0 in /usr/local/lib/python3.11/dist-packages (from altair<6,>=4.0->streamlit) (4.23.0)
Requirement already satisfied: narwhals>=1.14.2 in /usr/local/lib/python3.11/dist-packages (from altair<6,>=4.0->streamlit) (1.31.0)
Requirement already satisfied: gitdb<5,>=4.0.1 in /usr/local/lib/python3.11/dist-packages (from gitpython!=3.1.19,<4,>=3.0.7->streamlit) (4.0.12)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.11/dist-packages (from pandas<3,>=1.4.0->streamlit) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.11/dist-packages (from pandas<3,>=1.4.0->streamlit) (2025.1)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.11/dist-packages (from pandas<3,>=1.4.0->streamlit) (2025.1)
Requirement already satisfied: charset-normalizer<4,>=2 in /usr/local/lib/python3.11/dist-packages (from requests<3,>=2.27->streamlit) (3.4.1)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.11/dist-packages (from requests<3,>=2.27->streamlit) (3.10)
Requirement already satisfied: urllib3<3,>=1.21.1 in /usr/local/lib/python3.11/dist-packages (from requests<3,>=2.27->streamlit) (2.3.0)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.11/dist-packages (from requests<3,>=2.27->streamlit) (2025.1.31)
Requirement already satisfied: smmap<6,>=3.0.1 in /usr/local/lib/python3.11/dist-packages (from gitdb<5,>=4.0.1->gitpython!=3.1.19,<4,>=3.0.7->streamlit) (5.0.2)
Requirement already satisfied: MarkupSafe>=2.0 in /usr/local/lib/python3.11/dist-packages (from jinja2->altair<6,>=4.0->streamlit) (3.0.2)
Requirement already satisfied: attrs>=22.2.0 in /usr/local/lib/python3.11/dist-packages (from jsonschema>=3.0->altair<6,>=4.0->streamlit) (25.3.0)
Requirement already satisfied: jsonschema-specifications>=2023.03.6 in /usr/local/lib/python3.11/dist-packages (from jsonschema>=3.0->altair<6,>=4.0->streamlit) (2024.10.1)
Requirement already satisfied: referencing>=0.28.4 in /usr/local/lib/python3.11/dist-packages (from jsonschema>=3.0->altair<6,>=4.0->streamlit) (0.36.2)
Requirement already satisfied: rpds-py>=0.7.1 in /usr/local/lib/python3.11/dist-packages (from jsonschema>=3.0->altair<6,>=4.0->streamlit) (0.23.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.11/dist-packages (from python-dateutil>=2.8.2->pandas<3,>=1.4.0->streamlit) (1.17.0)
Downloading streamlit-1.43.2-py2.py3-none-any.whl (9.7 MB)
   ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ 9.7/9.7 MB 88.6 MB/s eta 0:00:00
Downloading pydeck-0.9.1-py2.py3-none-any.whl (6.9 MB)
   ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ 6.9/6.9 MB 89.3 MB/s eta 0:00:00
Downloading watchdog-6.0.0-py3-none-manylinux2014_x86_64.whl (79 kB)
   ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ 79.1/79.1 kB 6.8 MB/s eta 0:00:00
Installing collected packages: watchdog, pydeck, streamlit
Successfully installed pydeck-0.9.1 streamlit-1.43.2 watchdog-6.0.0

In [ ]:
!streamlit run app.py

Collecting usage statistics. To deactivate, set browser.gatherUsageStats to false.


  You can now view your Streamlit app in your browser.

  Local URL: http://localhost:8501
  Network URL: http://172.28.0.12:8501
  External URL: http://34.85.161.255:8501